In [1]:
# Project No. 1: Mercedes-Benz Greener Manufacturing

In [2]:
# Step 1 Import the required Libraries

In [26]:
# Linear Algebra
import numpy as np

# Data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd

# For Dimentionality Reduction
from sklearn.decomposition import PCA

import warnings
warnings.filterwarnings('ignore')

In [5]:
# Step 2 Read the data from train.csv

In [6]:
df_train = pd.read_csv(r"C:\Machine-Learning--Projects-master\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\train\train.csv")

In [7]:
df_train.shape

(4209, 378)

In [8]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [10]:
# Step3: Collect the Y values into an array

# seperate the y from the data as we will use this to learn as 
  # the prediction output

In [12]:
y_train = df_train['y'].values

In [13]:
# Step4: Understand the data types we have

In [14]:
# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [15]:
# Step5: Count the data in each of the columns

counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [16]:
# Step 6 read the test.csv data

In [17]:
df_test = pd.read_csv(r"C:\Machine-Learning--Projects-master\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\test\test.csv")

In [18]:
# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [22]:
x_train.head()
x_test.head()

,X112,X119,X42,X223,X335,X247,X311,X353,X106,X258,...,X117,X372,X341,X56,X175,X141,X145,X348,X158,X133
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
# Step7: Check for null and unique values for test and train sets

def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [24]:
#INSIGHT: There are no null values.

In [41]:
# Step8: If for any column(s), the variance is equal to zero, 
# then you need to remove those variable(s).
# Apply label encoder

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [32]:
# Step9: Make sure the data is now changed into numericals

print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [33]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [35]:
# Step11: Training using xgboost

import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[12:58:56] WARNING: c:\ci\xgboost-split_1619728435298\work\src\objective\regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	train-r2:-58.35295	valid-rmse:98.26297	valid-r2:-67.63754
[10]	train-rmse:81.27653	train-r2:-38.88428	valid-rmse:80.36433	valid-r2:-44.91014
[20]	train-rmse:66.71610	train-r2:-25.87403	valid-rmse:65.77334	valid-r2:-29.75260
[30]	train-rmse:54.86956	train-r2:-17.17751	valid-rmse:53.88943	valid-r2:-19.64378
[40]	train-rmse:45.24490	train-r2:-11.35977	valid-rmse:44.22048	valid-r2:-12.90045
[50]	train-rmse:37.44723	train-r2:-7.46663	valid-rmse:36.37280	valid-r2:-8.40449
[60]	train-rmse:31.14751	train-r2:-4.85758	valid-rmse:30.01774	valid-r2:-5.40528
[70]	train-rmse:26.08701	train-r2:-3.10885	valid-rmse:24.90971	valid-r2:-3.41082
[80]	train-rmse:22.04681	train-r2:-1.93470	valid-rmse:20.82526	valid-r2:-2.08292
[90]	train-rmse:18.84654	train-r2:-1.14454	valid-rmse:17.59797	valid-r2:-1.20144
[100]	train-rmse:16.33880	train-r2:-0.61180	valid-rmse:15.08078	valid-r2:-0.61670
[110]	train-rmse:14.40668	train-r2:-0.25314	valid-rmse:13.14955	valid-r2:-0.22915
[120]	train-rmse:12.93092	train-r2:-0.00956	valid-rmse:11.68873	valid-r2:0.02878
[130]	train-rmse:11.81585	train-r2:0.15705	valid-rmse:10.61834	valid-r2:0.19852
[140]	train-rmse:10.99148	train-r2:0.27057	valid-rmse:9.85009	valid-r2:0.31030
[150]	train-rmse:10.38929	train-r2:0.34831	valid-rmse:9.31219	valid-r2:0.38357
[160]	train-rmse:9.93628	train-r2:0.40390	valid-rmse:8.94248	valid-r2:0.43154
[170]	train-rmse:9.60276	train-r2:0.44325	valid-rmse:8.70266	valid-r2:0.46162
[180]	train-rmse:9.35312	train-r2:0.47182	valid-rmse:8.54077	valid-r2:0.48147
[190]	train-rmse:9.16786	train-r2:0.49253	valid-rmse:8.44107	valid-r2:0.49350
[200]	train-rmse:9.02663	train-r2:0.50805	valid-rmse:8.37855	valid-r2:0.50098
[210]	train-rmse:8.90963	train-r2:0.52072	valid-rmse:8.33245	valid-r2:0.50645
[220]	train-rmse:8.82600	train-r2:0.52967	valid-rmse:8.31007	valid-r2:0.50910
[230]	train-rmse:8.76214	train-r2:0.53646	valid-rmse:8.29789	valid-r2:0.51054
[240]	train-rmse:8.71158	train-r2:0.54179	valid-rmse:8.29226	valid-r2:0.51120
[250]	train-rmse:8.66444	train-r2:0.54673	valid-rmse:8.28969	valid-r2:0.51151
[260]	train-rmse:8.62411	train-r2:0.55095	valid-rmse:8.28553	valid-r2:0.51200
[270]	train-rmse:8.58763	train-r2:0.55473	valid-rmse:8.28250	valid-r2:0.51235
[280]	train-rmse:8.55027	train-r2:0.55860	valid-rmse:8.28104	valid-r2:0.51253
[290]	train-rmse:8.52529	train-r2:0.56118	valid-rmse:8.28296	valid-r2:0.51230
[300]	train-rmse:8.49791	train-r2:0.56399	valid-rmse:8.28068	valid-r2:0.51257
[310]	train-rmse:8.47474	train-r2:0.56637	valid-rmse:8.27913	valid-r2:0.51275
[320]	train-rmse:8.44460	train-r2:0.56944	valid-rmse:8.27719	valid-r2:0.51298
[330]	train-rmse:8.42499	train-r2:0.57144	valid-rmse:8.27940	valid-r2:0.51272
[340]	train-rmse:8.39987	train-r2:0.57399	valid-rmse:8.27707	valid-r2:0.51299
[350]	train-rmse:8.37552	train-r2:0.57646	valid-rmse:8.27178	valid-r2:0.51362
[360]	train-rmse:8.35159	train-r2:0.57888	valid-rmse:8.27033	valid-r2:0.51379
[370]	train-rmse:8.32497	train-r2:0.58156	valid-rmse:8.26909	valid-r2:0.51393
[380]	train-rmse:8.29777	train-r2:0.58429	valid-rmse:8.26789	valid-r2:0.51407
[390]	train-rmse:8.27409	train-r2:0.58666	valid-rmse:8.26551	valid-r2:0.51435
[400]	train-rmse:8.25082	train-r2:0.58898	valid-rmse:8.26285	valid-r2:0.51467
[410]	train-rmse:8.23029	train-r2:0.59102	valid-rmse:8.26280	valid-r2:0.51467
[420]	train-rmse:8.20736	train-r2:0.59330	valid-rmse:8.25985	valid-r2:0.51502
[430]	train-rmse:8.18157	train-r2:0.59585	valid-rmse:8.25629	valid-r2:0.51543
[440]	train-rmse:8.15782	train-r2:0.59819	valid-rmse:8.25540	valid-r2:0.51554
[450]	train-rmse:8.13168	train-r2:0.60076	valid-rmse:8.25183	valid-r2:0.51596
[460]	train-rmse:8.10643	train-r2:0.60324	valid-rmse:8.25148	valid-r2:0.51600
[470]	train-rmse:8.08372	train-r2:0.60546	valid-rmse:8.25096	valid-r2:0.51606
[480]	train-rmse:8.05472	train-r2:0.60828	valid-rmse:8.25183	valid-r2:0.51596
[490]	train-rmse:8.03129	train-r2:0.61056	valid-rmse:8.25077	valid-r2:0.51608
[500]	train-rmse:8.01111	train-r2:0.61251	valid-rmse:8.25003	valid-r2:0.51617
[510]	train-rmse:7.98412	train-r2:0.61512	valid-rmse:8.24837	valid-r2:0.51636
[520]	train-rmse:7.96100	train-r2:0.61735	valid-rmse:8.24711	valid-r2:0.51651
[530]	train-rmse:7.94428	train-r2:0.61895	valid-rmse:8.24836	valid-r2:0.51636
[540]	train-rmse:7.92463	train-r2:0.62083	valid-rmse:8.24873	valid-r2:0.51632
[550]	train-rmse:7.89665	train-r2:0.62351	valid-rmse:8.25122	valid-r2:0.51603
[560]	train-rmse:7.87395	train-r2:0.62567	valid-rmse:8.25103	valid-r2:0.51605
[570]	train-rmse:7.85114	train-r2:0.62783	valid-rmse:8.25046	valid-r2:0.51612
[574]	train-rmse:7.84318	train-r2:0.62859	valid-rmse:8.24984	valid-r2:0.51619

In [36]:
# Step12: Predict your test_df values using xgboost

p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1   82.832924
1   2   97.412880
2   3   82.459785
3   4   77.161865
4   5  112.659401

In [ ]:
# Here all the tasks are done.